# ========================
# DJANGO / WAGTAIL
# ========================

SECRET_KEY=your_secret_key_here
DEBUG=False
ALLOWED_HOSTS=yourdomain.com,www.yourdomain.com,localhost,127.0.0.1
BASE_URL=https://yourdomain.com

# ========================
# DATABASE (POSTGRESQL)
# ========================

DB_NAME=your_database_name
DB_USER=your_database_user
DB_PASSWORD=your_database_password
DB_HOST=db
DB_PORT=5432

# ========================
# POSTGRES (container init)
# ========================

POSTGRES_DB=your_database_name
POSTGRES_USER=your_database_user
POSTGRES_PASSWORD=your_database_password