:root {
    --Amarillo: 	#feb60c;
    --Azulmarino: 	#231d89;
    --Verdeoscuro:	#156171;
    --Verdeclaro: 	#156171;
    --Negro: 		#060606;
    --blanco: #fff;
    --azulfuerteclaro: #1563AC;
    --aqua: #00A1A1;
}

/* Zona de prueba de media queries */
/* Intentare empezar generando una configuracion global para una pantalla grande */
/* Despues seguire reduciendo la resolucion para una pantalla de escritorio */
/* Despues seguire reduciendo la resolucion para una pantalla de laptop */
/* Despues continuare para una pantalla de tablet */
/* Y por ultimo seria la resolucion minima para dispositivos moviles */


/*
    Resoluciones a utilizar en cada breakpoint
    Desde: 1201px Hasta: Max
    Desde: 1025px Hasta: 1200px
    Desde: 769px Hasta: 1024px
    Desde: 481px Hasta: 768px
    Desde: 320px Hasta: 480px


    Resoluciones de prueba dentro del navegador:
    T1: 1920X1080
    T2: 1200X675
    T3: 1024X576
    T4: 540X960
    T5: 360X640
*/

/* 4k 3840x2160*/
@media screen and (min-width: 3840px){
    .box1 {
        display: flex;
        height: auto;
        flex-direction: row;
        margin: 70px 100px 0 100px ;
    }
    
    .box1Info {
        display: flex;
        width: 50%;
        flex-direction: column;
        color: #fff;
        background-color: #1563AC;
        border-radius: 15px;
        font-size: 70px;
        justify-content: space-evenly;
    }

    
    .box1InfoImg {
        display: flex;
        justify-content: center;
        width: 100%;
    }
    
    .box1Texto{
        text-align: center;
        width: 100%;

    }
    
    .logo2{
        width: 600px;
        height: auto;

    }
    
    .box1Mapa {
        display: flex;
        flex-direction: column;
        width: 50%;
        justify-content: space-around;
        align-items: center;
        
    }
    
    .box1Mapa h3{
        font-family: 'Merriweather';
        color: var(--Azulmarino);
        font-size: 65px;
    }

    
       
    .texto {
        width: auto;
        float:left;
    }
    #content_mapa {
        width: auto;
        float: left;
        background-color: #FFFFFF;
    }
    .clearfix:after {
        content: "";
        display: table;
        clear: both;
    }
    
    .uk-tooltip{
        border: solid black 2px;
        background-color:var(--aqua) ;
        font-size: 30px; 
    }
    



    .boxLoQueHacemos{
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-top: 50px;
        margin: 0 100px;
    }
    
    .boxLQHTitulo{
        color: #1563AC;
        font-size: 100px;
        justify-content: center;
        height: 100%;
        padding-top: 50px;
        /* padding: 0 40px; */
    }
    
    .boxLQHTitulo p {
        font-family: 'Merriweather';
    }
    
    .boxLQHParrafo {
        color: var(--Negro);
        font-size: 70px;
        /* padding: 0 2%; */
    }
    
    .boxLQHParrafo p {
        font-family: 'Rubik', sans-serif;
    }
    
    .boxMVV {
        display: flex;
        flex-direction: row;
        margin: 0 100px;
        text-align: center;
        height: auto;
    }
    
    .boxMVVTexto {
        display: flex;
        flex-direction: column;
        width: 50%;
        
    }
    
    .boxMVVTitulo {
        display: flex;
        color: #1563AC;
        font-size: 100px;
        padding-top: 200px;
        justify-content: center;
    }
    
    .boxMVVTitulo p {
        font-family: 'Merriweather';
    }
    
    .boxMVVParrafo {
        color: var(--Negro);
        font-size: 70px;
        text-align: center;
        padding-top: 100px;
    }
    
    .boxMVVParrafo p {
        font-family: 'Rubik', sans-serif;
    }
    
    .boxMVVImg {
        display: flex;
        width: 50%;
        justify-content: center;
        align-items: center;
    }
    
    .ImgMision{
        margin: 0 180px;
        width: 1480px;
        height: 1110px;
    }
    
    .ImgVision{
        margin: 0 180px;
        width: 1480px;
        height: 1110px;
    }
    
    .ImgVentajas{
        width: 1480px;
        height: 1110px;
        margin: 0 180px;
    }
    
    .box2doSeparador{
        text-align: center;
        list-style-type: none;
        overflow: hidden;
        background-color: var(--azulfuerteclaro);
        font-family: 'Merriweather', serif;
        font-size: 100px;
        color: #FFFF;
        display: block;
        padding: 35px;
        margin: 30px 100px;
    }

    .box2Titulo p {
        font-family: 'Merriweather';
    }
    
    .box2Parrafo{
        margin-top: 50px;
        color: var(--Negro);
        font-size: 70px;
        text-align: center;
        margin-left: 100px;
        margin-right: 100px;
    }
    
    .box2Parrafo span {
        font-family: 'Rubik', sans-serif;
    }
    
    .carruselConv{
        margin: 70px 100px;
    }
    
    .imgslider{
        width: 1200px;
        height: 900px;
    }
    
    .box2Parrafo-2{
        margin-bottom: 50px;
        color: var(--Negro);
        font-size: 70px;
        text-align: center;
        margin-left: 100px;
        margin-right: 100px;
    }
    
    .box2Parrafo-2 span {
        font-family: 'Rubik', sans-serif;
    }
}

/* 2k 2560x1440*/
@media screen and (min-width: 2560px) and (max-width: 3839px){
    .box1 {
        display: flex;
        height: auto;
        flex-direction: row;
        margin: 40px 100px 0 100px ;
    }
    
    .box1Info {
        display: flex;
        width: 50%;
        flex-direction: column;
        color: #fff;
        background-color: #1563AC;
        border-radius: 15px;
        font-size: 60px;
        justify-content: space-evenly;
    }

    
    .box1InfoImg {
        display: flex;
        justify-content: center;
        width: 100%;
    }
    
    .box1Texto{
        text-align: center;
        width: 100%;

    }
    
    .logo2{
        width: 500px;
        height: auto;

    }
    
    .box1Mapa {
        display: flex;
        flex-direction: column;
        width: 50%;
        justify-content: space-around;
        align-items: center;
        
    }
    
    .box1Mapa h3{
        font-family: 'Merriweather';
        color: var(--Azulmarino);
        font-size: 50px;
    }

    
       
    .texto {
        width: auto;
        float:left;
    }
    #content_mapa {
        width: auto;
        float: left;
        background-color: #FFFFFF;
    }
    .clearfix:after {
        content: "";
        display: table;
        clear: both;
    }
    
    .uk-tooltip{
        border: solid black 2px;
        background-color:var(--aqua) ;
        font-size: 25px; 
    }


    
    
    .boxLoQueHacemos{
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-top: 60px;
        margin: 0 100px;
    }
    
    .boxLQHTitulo{
        color: #1563AC;
        font-size: 80px;
        justify-content: center;
        height: 100%;
        padding-top: 40px;
        /* padding: 0 40px; */
    }
    
    .boxLQHTitulo p {
        font-family: 'Merriweather';
    }
    
    .boxLQHParrafo {
        color: var(--Negro);
        font-size: 60px;
        /* padding: 0 2%; */
    }
    
    .boxLQHParrafo p {
        font-family: 'Rubik', sans-serif;
    }
    
    .boxMVV {
        display: flex;
        flex-direction: row;
        margin: 0 100px;
        text-align: center;
        height: auto;
    }
    
    .boxMVVTexto {
        display: flex;
        flex-direction: column;
        width: 50%;
        
    }
    
    .boxMVVTitulo {
        display: flex;
        color: #1563AC;
        font-size: 80px;
        padding-top: 200px;
        justify-content: center;
    }
    
    .boxMVVTitulo p {
        font-family: 'Merriweather';
    }
    
    .boxMVVParrafo {
        color: var(--Negro);
        font-size: 60px;
        text-align: center;
        /* padding-top: 10px; */
        margin-top: 20px;
    }
    
    .boxMVVParrafo p {
        font-family: 'Rubik', sans-serif;
    }
    
    .boxMVVImg {
        display: flex;
        width: 50%;
        justify-content: center;
        align-items: center;
    }
    
    .ImgMision{
        margin: 0 140px;
        width: 1040px;
        height: 780px;
    }
    
    .ImgVision{
        margin: 0 140px;
        width: 1040px;
        height: 780px;
    }
    
    .ImgVentajas{
        width: 1040px;
        height: 780px;
        margin: 0 140px;
    }
    
    .box2doSeparador{
        text-align: center;
        list-style-type: none;
        overflow: hidden;
        background-color: var(--azulfuerteclaro);
        font-family: 'Merriweather', serif;
        font-size: 80px;
        color: #FFFF;
        display: block;
        padding: 35px;
        margin: 30px 100px;
    }

    .box2Titulo p {
        font-family: 'Merriweather';
    }
    
    .box2Parrafo{
        margin-top: 50px;
        color: var(--Negro);
        font-size: 60px;
        text-align: center;
        margin: 0 100px;
    }
    
    .box2Parrafo span {
        font-family: 'Rubik', sans-serif;
    }
    
    .carruselConv{
        margin: 40px 100px;
    }
    
    .imgslider{
        width: 1100px;
        height: 825px;
    }
    
    .box2Parrafo-2{
        margin-bottom: 40px;
        color: var(--Negro);
        font-size: 60px;
        text-align: center;
        margin-left: 100px;
        margin-right: 100px;
    }
    
    .box2Parrafo-2 span {
        font-family: 'Rubik', sans-serif;
    }
}

/* FULLHD 1920x1080 */
@media screen and (min-width: 1920px) and (max-width: 2559px){
    .box1 {
        display: flex;
        height: auto;
        flex-direction: row;
        margin: 40px 100px 0 100px ;
    }
    
    .box1Info {
        display: flex;
        width: 50%;
        flex-direction: column;
        color: #fff;
        background-color: #1563AC;
        border-radius: 15px;
        font-size: 40px;
        justify-content: space-evenly;
    }

    
    .box1InfoImg {
        display: flex;
        justify-content: center;
        width: 100%;
    }
    
    .box1Texto{
        text-align: center;
        width: 100%;

    }
    
    .logo2{
        width: 500px;
        height: auto;

    }
    
    .box1Mapa {
        display: flex;
        flex-direction: column;
        width: 50%;
        justify-content: space-around;
        align-items: center;
        
    }
    
    .box1Mapa h3{
        font-family: 'Merriweather';
        color: var(--Azulmarino);
        font-size: 40px;
    }

    
       
    .texto {
        width: auto;
        float:left;
    }
    #content_mapa {
        width: auto;
        float: left;
        background-color: #FFFFFF;
    }
    .clearfix:after {
        content: "";
        display: table;
        clear: both;
    }
    
    .uk-tooltip{
        border: solid black 2px;
        background-color:var(--aqua) ;
        font-size: 25px; 
    }


    
    
    .boxLoQueHacemos{
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-top: 40px;
        margin: 0 100px;
    }
    
    .boxLQHTitulo{
        color: #1563AC;
        font-size: 60px;
        justify-content: center;
        height: 100%;
        padding-top: 40px;
        /* padding: 0 40px; */
    }
    
    .boxLQHTitulo p {
        font-family: 'Merriweather';
    }
    
    .boxLQHParrafo {
        color: var(--Negro);
        font-size: 40px;
        /* padding: 0 2%; */
    }
    
    .boxLQHParrafo p {
        font-family: 'Rubik', sans-serif;
    }
    
    .boxMVV {
        display: flex;
        flex-direction: row;
        margin: 0 100px;
        text-align: center;
        height: auto;
    }
    
    .boxMVVTexto {
        display: flex;
        flex-direction: column;
        width: 50%;
        
    }
    
    .boxMVVTitulo {
        display: flex;
        color: #1563AC;
        font-size: 60px;
        padding-top: 200px;
        justify-content: center;
    }
    
    .boxMVVTitulo p {
        font-family: 'Merriweather';
    }
    
    .boxMVVParrafo {
        color: var(--Negro);
        font-size: 40px;
        text-align: center;
        /* padding-top: 10px; */
        margin-top: 20px;
    }
    
    .boxMVVParrafo p {
        font-family: 'Rubik', sans-serif;
    }
    
    .boxMVVImg {
        display: flex;
        width: 50%;
        justify-content: center;
        align-items: center;
    }
    
    .ImgMision{
        margin: 0 140px;
        width: 1040px;
        height: 780px;
    }
    
    .ImgVision{
        margin: 0 140px;
        width: 1040px;
        height: 780px;
    }
    
    .ImgVentajas{
        width: 1040px;
        height: 780px;
        margin: 0 140px;
    }
    
    .box2doSeparador{
        text-align: center;
        list-style-type: none;
        overflow: hidden;
        background-color: var(--azulfuerteclaro);
        font-family: 'Merriweather', serif;
        font-size: 60px;
        color: #FFFF;
        display: block;
        padding: 35px;
        margin: 30px 100px;
    }

    .box2Titulo p {
        font-family: 'Merriweather';
    }
    
    .box2Parrafo{
        margin-top: 50px;
        color: var(--Negro);
        font-size: 40px;
        text-align: center;
        margin: 0 100px;
    }
    
    .box2Parrafo span {
        font-family: 'Rubik', sans-serif;
    }
    
    .carruselConv{
        margin: 40px 100px;
    }
    
    .imgslider{
        width: 500px;
        height: 400px;
    }
    
    .box2Parrafo-2{
        margin-bottom: 40px;
        color: var(--Negro);
        font-size: 40px;
        text-align: center;
        margin-left: 100px;
        margin-right: 100px;
    }
    
    .box2Parrafo-2 span {
        font-family: 'Rubik', sans-serif;
    }
}


/* Pantalla grande T1*/
@media screen and (min-width: 1201px) and (max-width: 1919px){
    
    .box1 {
        display: flex;
        height: auto;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
    }
    
    .box1Info {
        display: flex;
        /* width: 35%; */
        /* margin: 1vh 1vw; */
        margin: 0px 100px;
        flex-direction: column;
        color: #fff;
        background-color: #1563AC;
        border-radius: 15px;
        font-size: 25px;
        justify-content: space-evenly;
    }
    
    .box1InfoImg {
        display: flex;
        justify-content: center;
        width: 100%;
        /* margin: 1rem 2rem; */
    }
    
    .box1Texto{
        text-align: center;
        width: 100%;
        margin-bottom: 20px;

    }
    
    .logo2{
        width: 16vw;
        height: auto;
        /* height: 20rem; */
    }
    
    
    .box1Mapa {
        display: flex;
        padding-bottom: 35px;
        flex-direction: column;
        /* width: 50%; */
        /* margin: 1vh 1vw; */
        justify-content: center;
        align-items: center;
    }
    
    .box1Mapa h3{
        font-family: 'Merriweather';
        color: var(--Azulmarino);
        font-size: 30px;
    }

    .cont{
        text-align: left;
        width: 100%;
        margin: auto;
       }
       
    .texto {
        width: auto;
        float:left;
    }
    #content_mapa {
        width: auto;
        float: left;
        background-color: #FFFFFF;
    }
    .clearfix:after {
        content: "";
        display: table;
        clear: both;
    }
    
    .uk-tooltip{
        border: solid black 2px;
        background-color:var(--aqua) ;
    }
    
    .boxLoQueHacemos{
        display: flex;
        flex-direction: column;
        
        text-align: center;
        margin-top: 20px;
    }
    
    .boxLQHTitulo{
        color: #1563AC;
        font-size: 30px;
        justify-content: center;
        height: 100%;
        margin: 0px 100px;
    }
    
    .boxLQHTitulo p {
        font-family: 'Merriweather';
    }
    
    .boxLQHParrafo {
        color: var(--Negro);
        /* width: 100%; */
        font-size: 25px;
        margin: 0px 100px;
    }
    
    .boxLQHParrafo p {
        font-family: 'Rubik', sans-serif;
    }
    
    .boxMVV {
        display: flex;
        flex-direction: row;
        margin: 0px 100px;
        text-align: center;
        height: auto;
    }
    
    .boxMVVTexto {
        display: flex;
        flex-direction: column;
        width: 50%;
    }
    
    .boxMVVTitulo {
        display: flex;
        color: #1563AC;
        font-size: 30px;
        justify-content: center;
        padding-top: 3vh;
        padding-bottom: 3vh;
        margin-bottom: 0rem;
    }
    
    .boxMVVTitulo p {
        font-family: 'Merriweather';
    }
    
    .boxMVVParrafo {
        color: var(--Negro);
        margin-top: 20px;
        font-size: 25px;
        text-align: center;
    }
    
    .boxMVVParrafo p {
        font-family: 'Rubik', sans-serif;
    }
    
    .boxMVVImg {
        display: flex;
        width: 50%;
        justify-content: center;
        align-items: center;
    }
    
    .ImgMision{
        margin: 0 5vw;
        width: 370px;
        height: 290px;
    }
    
    .ImgVision{
        margin: 0 5vw;
        width: 370px;
        height: 290px;
    }
    
    .ImgVentajas{
        width: 370px;
        height: 290px;
        margin: 0 5vw;
    }
    
    .box2doSeparador{
        text-align: center;
        list-style-type: none;
        padding: 0;
        overflow: hidden;
        background-color: var(--azulfuerteclaro);
        font-family: 'Merriweather', serif;
        font-size: 20px;
        color: #FFFF;
        display: block;
        font-size: 30px;
        margin: 0 100px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    

    
    .box2Titulo p {
        font-family: 'Merriweather';
    }
    
    .box2Parrafo{
        margin: 0 100px;
        margin-top: 30px;
        color: var(--Negro);
        font-size: 25px;
        text-align: center;
    }
    
    .box2Parrafo span {
        font-family: 'Rubik', sans-serif;
    }
    
    .carruselConv{
        margin: 15px 100px;
    }
    
    .imgslider{
        width: 380px;
        height: 290px;
    }
    
    .box2Parrafo-2{
        margin: 0 100px;
        margin-bottom: 20px;
        color: var(--Negro);
        font-size: 25px;
        text-align: center;
    }
    
    .box2Parrafo-2 span {
        font-family: 'Rubik', sans-serif;
    }
    


}

/* Pantalla de escritorio T2*/
@media screen and (min-width: 1025px) and (max-width: 1200px){
    .box1 {
        display: flex;
        height: auto;
        flex-direction: row;
        margin-bottom: 20px;
        margin: 0 70px;
    }
    
    .box1Info {
        display: flex;
        width: 100%;
        margin: 10px;
        flex-direction: column;
        color: #fff;
        background-color: #1563AC;
        border-radius: 15px;
        font-size: 25px;
        justify-content: space-evenly;
    }
    
    .box1InfoImg {
        display: flex;
        justify-content: center;
        width: 100%;
        /* margin: 1rem 2rem; */
    }
    
    .box1Texto{
        text-align: center;
        width: 100%;
        margin-bottom: 10px;

    }
    
    .logo2{
        width: 200px;
        height: 200px;
        /* height: 20rem; */
    }
    
    
    .box1Mapa {
        display: flex;
        flex-direction: column;
        width: 50%;
        margin: 1vh 1vw;
        justify-content: center;
        align-items: center;
        display: none;
    }
    
    .box1Mapa h3{
        font-family: 'Merriweather';
        color: var(--Azulmarino);
        font-size: 30px;
        display: none;
    }

    .cont{
        text-align: left;
        width: 100%;
        margin: auto;
       }
       
    .texto {
        width: auto;
        float:left;
    }
    #content_mapa {
        width: auto;
        float: left;
        background-color: #FFFFFF;
    }
    .clearfix:after {
        content: "";
        display: table;
        clear: both;
    }
    
    .uk-tooltip{
        border: solid black 2px;
        background-color:var(--aqua) ;
    }
    
    .boxLoQueHacemos{
        display: flex;
        flex-direction: column;
        
        text-align: center;
        margin-top: 20px;
    }
    
    .boxLQHTitulo{
        color: #1563AC;
        font-size: 30px;
        justify-content: center;
        height: 100%;
        margin: 0px 70px;
    }
    
    .boxLQHTitulo p {
        font-family: 'Merriweather';
    }
    
    .boxLQHParrafo {
        color: var(--Negro);
        /* width: 100%; */
        font-size: 25px;
        margin: 0px 70px;
    }
    
    .boxLQHParrafo p {
        font-family: 'Rubik', sans-serif;
    }
    
    .boxMVV {
        display: flex;
        flex-direction: row;
        margin: 0px 70px;
        text-align: center;
        height: auto;
    }
    
    .boxMVVTexto {
        display: flex;
        flex-direction: column;
        width: 50%;
    }
    
    .boxMVVTitulo {
        display: flex;
        color: #1563AC;
        font-size: 30px;
        justify-content: center;
        padding-top: 3vh;
        padding-bottom: 3vh;
        margin-bottom: 0rem;
    }
    
    .boxMVVTitulo p {
        font-family: 'Merriweather';
    }
    
    .boxMVVParrafo {
        color: var(--Negro);
        margin-top: 20px;
        margin-top: 20px;
        font-size: 25px;
        text-align: center;
    }
    
    .boxMVVParrafo p {
        font-family: 'Rubik', sans-serif;
    }
    
    .boxMVVImg {
        display: flex;
        width: 50%;
        justify-content: center;
        align-items: center;
    }
    
    .ImgMision{
        margin: 0 5vw;
        width: 380px;
        height: 250px;
    }
    
    .ImgVision{
        margin: 0 5vw;
        width: 380px;
        height: 250px;
    }
    
    .ImgVentajas{
        width: 380px;
        height: 250px;
        margin: 0 5vw;
    }
    
    .box2doSeparador{
        text-align: center;
        list-style-type: none;
        padding: 0;
        overflow: hidden;
        background-color: var(--azulfuerteclaro);
        font-family: 'Merriweather', serif;
        font-size: 20px;
        color: #FFFF;
        display: block;
        font-size: 35px;
        margin: 0 100px;
        padding: 20px;
    }
    

    
    .box2Titulo p {
        font-family: 'Merriweather';
    }
    
    .box2Parrafo{
        margin: 0px 70px;
        margin-top: 2.5vh;
        color: var(--Negro);
        font-size: 25px;
        text-align: center;
    }
    
    .box2Parrafo span {
        font-family: 'Rubik', sans-serif;
    }
    
    .carruselConv{
        margin: 0px 70px;
        padding: 30px;
    }
    
    .imgslider{
        width: 40vh;
        height: 30vh;
    }
    
    .box2Parrafo-2{
        margin: 0px 70px;
        margin-bottom: 10px;
        color: var(--Negro);
        font-size: 25px;
        text-align: center;
    }
    
    .box2Parrafo-2 span {
        font-family: 'Rubik', sans-serif;
    }
    
}


/* Pantalla de laptop T3*/
@media screen and (min-width: 769px) and (max-width: 1024px){
    .box1 {
        display: flex;
        height: auto;
        flex-direction: row;
        margin: 0 60px;
    }
    
    .box1Info {
        display: flex;
        width: 100%;
        flex-direction: column;
        color: #fff;
        background-color: #1563AC;
        border-radius: 15px;
        font-size: 25px;
        justify-content: space-evenly;
    }
    
    .box1InfoImg {
        display: flex;
        justify-content: center;
        width: 100%;
        /* margin: 1rem 2rem; */
    }
    
    .box1Texto{
        text-align: center;
        width: 100%;
        margin-bottom: 0vh;

    }
    
    .logo2{
        width: 200px;
        height: 200px;
        /* height: 20rem; */
    }
    
    
    .box1Mapa {
        display: flex;
        flex-direction: column;
        width: 50%;
        margin: 1vh 1vw;
        justify-content: center;
        align-items: center;
        display: none;
    }
    
    .box1Mapa h3{
        font-family: 'Merriweather';
        color: var(--Azulmarino);
        font-size: 1.7vw;
        display: none;
    }

    .cont{
        text-align: left;
        width: 100%;
        margin: auto;
       }
       
    .texto {
        width: auto;
        float:left;
    }
    #content_mapa {
        width: auto;
        float: left;
        background-color: #FFFFFF;
    }
    .clearfix:after {
        content: "";
        display: table;
        clear: both;
    }
    
    .uk-tooltip{
        border: solid black 2px;
        background-color:var(--aqua) ;
    }
    
    .boxLoQueHacemos{
        display: flex;
        flex-direction: column;
        
        text-align: center;
        margin-top: 2vh;
    }
    
    .boxLQHTitulo{
        color: #1563AC;
        font-size: 30px;
        justify-content: center;
        height: 100%;
        margin: 0px 60px;
    }
    
    .boxLQHTitulo p {
        font-family: 'Merriweather';
    }
    
    .boxLQHParrafo {
        color: var(--Negro);
        /* width: 100%; */
        font-size: 25px;
        margin: 0px 60px;
    }
    
    .boxLQHParrafo p {
        font-family: 'Rubik', sans-serif;
    }
    
    .boxMVV {
        display: flex;
        flex-direction: row;
        margin: 0px 60px;
        text-align: center;
        height: auto;
    }
    
    .boxMVVTexto {
        display: flex;
        flex-direction: column;
        width: 50%;
    }
    
    .boxMVVTitulo {
        display: flex;
        color: #1563AC;
        font-size: 30px;
        justify-content: center;
        padding-top: 3vh;
        padding-bottom: 3vh;
        margin-bottom: 0rem;
    }
    
    .boxMVVTitulo p {
        font-family: 'Merriweather';
    }
    
    .boxMVVParrafo {
        color: var(--Negro);
        padding: 20px;
        /* margin: 0vw 1vw; */
        font-size: 25px;
        text-align: center;
    }
    
    .boxMVVParrafo p {
        font-family: 'Rubik', sans-serif;
    }
    
    .boxMVVImg {
        display: flex;
        width: 50%;
        justify-content: center;
        align-items: center;
    }
    
    .ImgMision{
        margin: 0 5vw;
        width: 250px;
        height: 200px;
    }
    
    .ImgVision{
        margin: 0 5vw;
        width: 250px;
        height: 200px;
    }
    
    .ImgVentajas{
        width: 250px;
        height: 200px;
        margin: 0 5vw;
    }
    
    .box2doSeparador{
        text-align: center;
        list-style-type: none;
        padding: 0;
        overflow: hidden;
        background-color: var(--azulfuerteclaro);
        font-family: 'Merriweather', serif;
        font-size: 20px;
        color: #FFFF;
        display: block;
        margin: 0px 60px;
        padding: 20px;
        font-size: 30px;
    }
    

    
    .box2Titulo p {
        font-family: 'Merriweather';
    }
    
    .box2Parrafo{
        margin: 0px 60px;
        margin-top: 25px;
        color: var(--Negro);
        font-size: 25px;
        text-align: center;
        margin-bottom: 10px;
    }
    
    .box2Parrafo span {
        font-family: 'Rubik', sans-serif;
    }
    
    .carruselConv{
        margin: 0px 60px;
        
    }
    
    .imgslider{
        width: 250px;
        height: 160px;
    }
    
    .box2Parrafo-2{
        margin: 0px 60px;
        margin-bottom: 25px;
        color: var(--Negro);
        font-size: 25px;
        text-align: center;
    }
    
    .box2Parrafo-2 span {
        font-family: 'Rubik', sans-serif;
    }
    
}

/* Pantalla de tablet T4*/
@media screen and (min-width: 481px) and (max-width: 768px){
    .box1 {
        display: flex;
        height: auto;
        flex-direction: row;
        margin-bottom: 1vh;
        margin: 0px 40px;
    }
    
    .box1Info {
        display: flex;
        width: 100%;
        flex-direction: column;
        color: #fff;
        background-color: #1563AC;
        border-radius: 15px;

        justify-content: space-evenly;
    }
    
    .box1InfoImg {
        display: flex;
        justify-content: center;
        width: 100%;
        /* margin: 1rem 2rem; */
    }
    
    .box1Texto{
        text-align: center;
        width: 100%;
        margin-bottom: 10px;
        font-size: 20px;

    }
    
    .logo2{
        width: 150px;
        height: 150px;
        /* height: 20rem; */
    }
    
    
    .box1Mapa {
        display: flex;
        flex-direction: column;
        width: 50%;
        margin: 1vh 1vw;
        justify-content: center;
        align-items: center;
        display: none;
    }
    
    .box1Mapa h3{
        font-family: 'Merriweather';
        color: var(--Azulmarino);
        font-size: 30px;
        display: none;
    }

    .cont{
        text-align: left;
        width: 100%;
        margin: auto;
       }
       
    .texto {
        width: auto;
        float:left;
    }
    #content_mapa {
        width: auto;
        float: left;
        background-color: #FFFFFF;
    }
    .clearfix:after {
        content: "";
        display: table;
        clear: both;
    }
    
    .uk-tooltip{
        background-color:var(--aqua) ;
    }
    
    .boxLoQueHacemos{
        display: flex;
        flex-direction: column;
        
        text-align: center;
        margin-top: 2vh;
    }
    
    .boxLQHTitulo{
        color: #1563AC;
        font-size: 25px;
        justify-content: center;
        height: 100%;
        margin: 0px 40px;
    }
    
    .boxLQHTitulo p {
        font-family: 'Merriweather';
    }
    
    .boxLQHParrafo {
        color: var(--Negro);
        /* width: 100%; */
        font-size: 20px;
        margin: 0px 40px;
    }
    
    .boxLQHParrafo p {
        font-family: 'Rubik', sans-serif;
    }
    
    .boxMVV {
        display: flex;
        flex-direction: column;
        text-align: center;
        height: auto;
    }
    
    .boxMVVTexto {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    
    .boxMVVTitulo {
        display: flex;
        color: #1563AC;
        font-size: 25px;
        justify-content: center;
        padding-top: 1vh;
        padding-bottom: 1vh;
        margin-bottom: 0rem;
    }
    
    .boxMVVTitulo p {
        font-family: 'Merriweather';
    }
    
    .boxMVVParrafo {
        color: var(--Negro);
        padding: 2vw;
        margin: 0px 40px;
        font-size: 20px;
        text-align: center;
    }
    
    .boxMVVParrafo p {
        font-family: 'Rubik', sans-serif;
    }
    
    .boxMVVImg {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        display: none;
    }
    
    .ImgMision{
        margin: 0 5vw;
        width: 85%;
        height: 85%;
    }
    
    .ImgVision{
        margin: 0 5vw;
        width: 85%;
        height: 85%;
    }
    
    .ImgVentajas{
        width: 85%;
        height: 85%;
        margin: 0 5vw;
    }
    
    .box2doSeparador{
        text-align: center;
        list-style-type: none;
        padding: 0;
        overflow: hidden;
        background-color: var(--azulfuerteclaro);
        font-family: 'Merriweather', serif;
        font-size: 100px;
        color: #FFFF;
        display: block;
        margin: 0px 40px;
        padding: 20px;
        font-size: 25px;
    }
    

    
    .box2Titulo p {
        font-family: 'Merriweather';
    }
    
    .box2Parrafo{
        margin: 0px 40px;
        margin-top: 20px;
        color: var(--Negro);
        font-size: 20px;
        text-align: center;
    }
    
    .box2Parrafo span {
        font-family: 'Rubik', sans-serif;
    }
    
    .carruselConv{
        margin: 2rem 5.5rem;
        padding: 2rem;
        display: none;
    }
    
    .imgslider{
        width: 40vh;
        height: 30vh;
    }
    
    .box2Parrafo-2{
        margin: 0px 40px;
        margin-bottom: 20px;
        color: var(--Negro);
        font-size: 20px;
        text-align: center;
    }
    
    .box2Parrafo-2 span {
        font-family: 'Rubik', sans-serif;
    }
    
}

/* Pantalla de movil T5*/
@media screen and (max-width: 480px){
    .box1 {
        display: flex;
        height: auto;
        flex-direction: row;
        margin-bottom: 1vh;
        margin: 0px 25px;
    }
    
    .box1Info {
        display: flex;
        width: 100%;
        margin: 0px 25px;
        flex-direction: column;
        color: #fff;
        background-color: #1563AC;
        border-radius: 15px;
        font-size: 20px;
        justify-content: space-evenly;
    }
    
    .box1InfoImg {
        display: flex;
        justify-content: center;
        width: 100%;
        /* margin: 1rem 2rem; */
    }
    
    .box1Texto{
        text-align: center;
        width: 100%;
        margin-bottom: 10px;
        font-size: 20px;

    }
    
    .logo2{
        width: 120px;
        height: 120px;
        /* height: 20rem; */
    }
    
    
    .box1Mapa {
        display: flex;
        flex-direction: column;
        width: 50%;
        margin: 0px 25px;
        justify-content: center;
        align-items: center;
        display: none;
    }
    
    .box1Mapa h3{
        font-family: 'Merriweather';
        color: var(--Azulmarino);
        font-size: 30px;
        display: none;
    }

    .cont{
        text-align: left;
        width: 100%;
        margin: auto;
       }
       
    .texto {
        width: auto;
        float:left;
    }
    #content_mapa {
        width: auto;
        float: left;
        background-color: #FFFFFF;
    }
    .clearfix:after {
        content: "";
        display: table;
        clear: both;
    }
    
    .uk-tooltip{
        background-color:var(--aqua) ;
    }
    
    .boxLoQueHacemos{
        display: flex;
        flex-direction: column;
        
        text-align: center;
        margin-top: 20px;
    }
    
    .boxLQHTitulo{
        color: #1563AC;
        font-size: 25px;
        justify-content: center;
        height: 100%;
        margin: 0px 25px;
    }
    
    .boxLQHTitulo p {
        font-family: 'Merriweather';
    }
    
    .boxLQHParrafo {
        color: var(--Negro);
        /* width: 100%; */
        font-size: 20px;
        margin: 0px 25px;
    }
    
    .boxLQHParrafo p {
        font-family: 'Rubik', sans-serif;
    }
    
    .boxMVV {
        display: flex;
        flex-direction: column;
        margin: 0px 20px;
        text-align: center;
        height: auto;
    }
    
    .boxMVVTexto {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    
    .boxMVVTitulo {
        display: flex;
        color: #1563AC;
        font-size: 20px;
        justify-content: center;
        padding-top: 1vh;
        padding-bottom: 1vh;
        margin-bottom: 0rem;
    }
    
    .boxMVVTitulo p {
        font-family: 'Merriweather';
    }
    
    .boxMVVParrafo {
        color: var(--Negro);
        font-size: 20px;
        text-align: center;
    }
    
    .boxMVVParrafo p {
        font-family: 'Rubik', sans-serif;
    }
    
    .boxMVVImg {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        display: none;
    }
    
    .ImgMision{
        margin: 0 5vw;
        width: 85%;
        height: 85%;
    }
    
    .ImgVision{
        margin: 0 5vw;
        width: 85%;
        height: 85%;
    }
    
    .ImgVentajas{
        width: 85%;
        height: 85%;
        margin: 0 5vw;
    }
    
    .box2doSeparador{
        text-align: center;
        list-style-type: none;
        padding: 0;
        overflow: hidden;
        background-color: var(--azulfuerteclaro);
        font-family: 'Merriweather', serif;
        font-size: 25px;
        color: #FFFF;
        display: block;
        padding: 15px;
        font-size: 30px;
        margin: 0px 25px;
    }
    

    
    .box2Titulo p {
        font-family: 'Merriweather';
    }
    
    .box2Parrafo{
        margin: 0px 25px;
        margin-top: 20px;
        color: var(--Negro);
        font-size: 20px;
        text-align: center;
    }
    
    .box2Parrafo span {
        font-family: 'Rubik', sans-serif;
    }
    
    .carruselConv{
        margin: 2rem 5.5rem;
        padding: 2rem;
        display: none;
    }
    
    .imgslider{
        width: 40vh;
        height: 30vh;
    }
    
    .box2Parrafo-2{
        margin: 0px 25px;
        margin-bottom: 20px;
        color: var(--Negro);
        font-size: 20px;
        text-align: center;
    }
    
    .box2Parrafo-2 span {
        font-family: 'Rubik', sans-serif;
    }
}
