:root{
    --Amarillo: 	#feb60c;
    --Azulmarino: 	#231d89;
    --Verdeoscuro:	#156171;
    --Verdeclaro: 	#156171;
    --Negro: 		#060606;
    --blanco: #fff;
    --azulfuerteclaro: #1563AC;
    --aqua: #00A1A1;
}


/* Zona de prueba de media queries */
/* Intentare empezar generando una configuracion global para una pantalla grande */
/* Despues seguire reduciendo la resolucion para una pantalla de escritorio */
/* Despues seguire reduciendo la resolucion para una pantalla de laptop */
/* Despues continuare para una pantalla de tablet */
/* Y por ultimo seria la resolucion minima para dispositivos moviles */


/*
    Resoluciones a utilizar en cada breakpoint
    Desde: 1201px Hasta: Max
    Desde: 1025px Hasta: 1200px
    Desde: 769px Hasta: 1024px
    Desde: 481px Hasta: 768px
    Desde: 320px Hasta: 480px


    Resoluciones de prueba dentro del navegador:
    T1: 1920X1080
    T2: 1200X675
    T3: 1024X576
    T4: 540X960
    T5: 360X640
*/
@media screen and (min-width: 3840px){
    .logoH{
        height: auto;
        width: 400px;
        /* border: dashed 3px red; */
    }

    .header{
        height: 425px;
        /* background-color: var(--azulfuerteclaro); Color anterior */
        background-color: var(--blanco);
        background-position: center center;
        display: flex;
        margin: 0 100px;
        flex-direction: column;
        justify-content: center;
        /* border: 3px dotted orange; */
        border-bottom: var(--azulfuerteclaro) 15px ridge;
        margin-bottom: 50px;

    }

    .nav {
        /* color: var(--blanco);  */
        color: var(--azulfuerteclaro);
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        height: 100%;

        /* border: 3px dotted green; */
     }

     .nav-logo{
        margin-left: 100px;
     }

     .nav-link ul {
        /* border: dashed 3px #55f1ff; */
        list-style: none;
        flex-wrap: wrap;
        padding-left: 0;
        padding-right: 0;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .nav-link{
        margin-right: 100px;
    }

    .nav-link a {
        /* border: dashed 3px purple; */
        text-decoration: none;
        margin-left: 70px;
        font-size: 80px;
        font-family: 'Merriweather';
        font-weight: bold;
        color: var(--azulfuerteclaro);
    }



    li a{
        display: block;
        padding-left: 20px;
        text-decoration: none;

    }

    li a:hover:not(active){
        color:var(--Azulmarino);
    }
}


/* 2k 2560x1440*/
@media screen and (min-width: 2560px) and (max-width: 3839px){
    .logoH{
        height: auto;
        width: 220px;
        /* border: dashed 3px red; */
    }

    .header{
        height: 275px;
        /* background-color: var(--azulfuerteclaro); Color anterior */
        background-color: var(--blanco);
        background-position: center center;
        display: flex;
        margin: 0 100px;
        flex-direction: column;
        justify-content: center;
        /* border: 3px dotted orange; */
        border-bottom: var(--azulfuerteclaro) 15px ridge;
        margin-bottom: 50px;

    }

    .nav {
        /* color: var(--blanco);  */
        color: var(--azulfuerteclaro);
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        height: 100%;
        width: 100%;
        /* border: 3px dotted green; */
     }

     .nav-logo{
        margin-left: 100px;
     }

     .nav-link ul {
        /* border: dashed 3px #55f1ff; */
        list-style: none;
        flex-wrap: wrap;
        padding-left: 0;
        padding-right: 0;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .nav-link a {
        /* border: dashed 3px purple; */
        text-decoration: none;
        margin: 0 35px;
        font-size: 55px;
        font-family: 'Merriweather';
        font-weight: bold;
        color: var(--azulfuerteclaro);
    }



    li a{
        display: block;
        padding:0  15px;
        text-decoration: none;

    }

    li a:hover:not(active){
        color:var(--Azulmarino);
    }
}

/* FULLHD 1920x1080 */
@media screen and (min-width: 1920px) and (max-width: 2559px){
    .logoH{
        height: auto;
        width: 160px;
        /* border: dashed 3px red; */
    }

    .header{
        height: 250px;
        /* background-color: var(--azulfuerteclaro); Color anterior */
        background-color: var(--blanco);
        background-position: center center;
        display: flex;
        margin: 0 100px;
        flex-direction: column;
        justify-content: center;
        /* border: 3px dotted orange; */
        border-bottom: var(--azulfuerteclaro) 15px ridge;
        margin-bottom: 50px;

    }

    .nav {
        /* color: var(--blanco);  */
        color: var(--azulfuerteclaro);
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        height: 100%;
        width: 100%;
        /* margin-left: 100px; */
        /* border: 3px dotted green; */
     }

     .nav-logo{
        margin-left: 100px;
     }

     .nav-link ul {
        /* border: dashed 3px #55f1ff; */
        list-style: none;
        flex-wrap: wrap;
        padding-left: 0;
        padding-right: 0;
        display: flex;
        justify-content: space-around;
        align-items: center;
        
    }

    .nav-link a {
        /* border: dashed 3px purple; */
        text-decoration: none;
        margin: 0 30px;
        font-size: 40px;
        font-family: 'Merriweather';
        font-weight: bold;
        color: var(--azulfuerteclaro);
    }



    li a{
        display: block;
        padding:0  10px;
        text-decoration: none;

    }

    li a:hover:not(active){
        color:var(--Azulmarino);
    }
}

/* Pantalla grande T1*/
@media screen and (min-width: 1201px) and (max-width: 1919px){
    .logoH{
        height: auto;
        width: 180px;
        /* border: dashed 3px red; */
    }

    .header{
        height: 250px;
        /* background-color: var(--azulfuerteclaro); Color anterior */
        background-color: var(--blanco);
        background-position: center center;
        display: flex;
        margin: 0 100px;
        flex-direction: column;
        justify-content: center;
        /* border: 3px dotted orange; */
        border-bottom: var(--azulfuerteclaro) 15px ridge;
        margin-bottom: 50px;

    }

    .nav {
        /* color: var(--blanco);  */
        color: var(--azulfuerteclaro);
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        height: 100%;
        width: 100%;
        /* margin-left: 100px; */
        /* border: 3px dotted green; */
     }

     .nav-logo{
        margin-left: 50px;
     }

     .nav-link ul {
        /* border: dashed 3px #55f1ff; */
        list-style: none;
        flex-wrap: wrap;
        padding-left: 0;
        padding-right: 0;
        display: flex;
        justify-content: space-around;
        align-items: center;
        
    }

    .nav-link a {
        /* border: dashed 3px purple; */
        text-decoration: none;
        margin: 0 10px;
        font-size: 30px;
        font-family: 'Merriweather';
        font-weight: bold;
        color: var(--azulfuerteclaro);
    }



    li a{
        display: block;
        padding:0  10px;
        text-decoration: none;

    }

    li a:hover:not(active){
        color:var(--Azulmarino);
    }
}

/* Pantalla grande T2*/
@media screen and (min-width: 1025px) and (max-width: 1200px) {
    .logoH{
        height: auto;
        width: 160px;
        /* border: dashed 3px red; */
    }

    .header{
        height: 250px;
        /* background-color: var(--azulfuerteclaro); Color anterior */
        background-color: var(--blanco);
        background-position: center center;
        display: flex;
        margin: 0 70px;
        flex-direction: row;
        justify-content: center;
        /* border: 3px dotted orange; */
        border-bottom: var(--azulfuerteclaro) 15px ridge;
        margin-bottom: 50px;
        height: fit-content;

    }

    .nav {
        /* color: var(--blanco);  */
        color: var(--azulfuerteclaro);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        height: 100%;
        width: 100%;
        /* border: 3px dotted green; */
     }

     .nav-link ul {
        /* border: dashed 3px #55f1ff; */
        list-style: none;
        /* flex-wrap: wrap; */
        display: flex;
        padding-left: 0;
        padding-right: 0;
        justify-content: space-around;
        align-items: center;
    }

    .nav-link a {
        /* border: dashed 3px purple; */
        text-decoration: none;
        margin: 0 ;
        font-size: 30px;
        font-family: 'Merriweather';
        font-weight: bold;
        color: var(--azulfuerteclaro);
    }


    li a{
        display: block;
        padding: 0 10px;
        text-decoration: none;

    }

    li a:hover:not(active){
        color:var(--Azulmarino);
    }
}


/* Pantalla de laptop T3*/
@media screen and (min-width: 769px) and (max-width: 1024px){
    .logoH{
        height: auto;
        width: 140px;
        /* border: dashed 3px red; */
    }

    .header{
        height: 250px;
        /* background-color: var(--azulfuerteclaro); Color anterior */
        background-color: var(--blanco);
        background-position: center center;
        display: flex;
        margin: 0 60px;
        flex-direction: row;
        justify-content: center;
        /* border: 3px dotted orange; */
        border-bottom: var(--azulfuerteclaro) 15px ridge;
        margin-bottom: 30px;
        height: fit-content;

    }

    .nav {
        /* color: var(--blanco);  */
        color: var(--azulfuerteclaro);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        height: 100%;
        width: 100%;
        /* border: 3px dotted green; */
     }

     .nav-link ul {
        /* border: dashed 3px #55f1ff; */
        list-style: none;
        /* flex-wrap: wrap; */
        display: flex;
        padding-left: 0;
        padding-right: 0;
        justify-content: space-around;
        align-items: center;
    }

    .nav-link a {
        /* border: dashed 3px purple; */
        text-decoration: none;
        margin: 0 ;
        font-size: 27px;
        font-family: 'Merriweather';
        font-weight: bold;
        color: var(--azulfuerteclaro);
    }


    li a{
        display: block;
        padding: 0 10px;
        text-decoration: none;

    }

    li a:hover:not(active){
        color:var(--Azulmarino);
    }
}

/*Pantalla T4*/
@media screen and (min-width: 481px) and (max-width: 768px) {
    .logoH{
        height: auto;
        width: 120px;
        /* border: dashed 3px red; */
    }

    .header{
        height: 250px;
        /* background-color: var(--azulfuerteclaro); Color anterior */
        background-color: var(--blanco);
        background-position: center center;
        display: flex;
        margin: 0 40px;
        flex-direction: row;
        justify-content: center;
        /* border: 3px dotted orange; */
        border-bottom: var(--azulfuerteclaro) 15px ridge;
        margin-bottom: 30px;
        height: fit-content;

    }

    .nav {
        /* color: var(--blanco);  */
        color: var(--azulfuerteclaro);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        height: 100%;
        /* width: 100%; */
        /* border: 3px dotted green; */
     }

     .nav-link ul {
        /* border: dashed 3px #55f1ff; */
        list-style: none;
        /* flex-wrap: wrap; */
        display: flex;
        padding-left: 0;
        padding-right: 0;
        justify-content: space-around;
        /* align-items: center; */
    }

    .nav-link a {
        /* border: dashed 3px purple; */
        text-decoration: none;
        margin: 0 ;
        font-family: 'Merriweather';
        font-size: 19px;
        font-weight: bold;
        color: var(--azulfuerteclaro);
    }


    li a{
        display: block;
        padding: 0 1vw;
        text-decoration: none;

    }

    li a:hover:not(active){
        color:var(--Azulmarino);
    }
}

/* Pantalla T5*/
@media screen and  (max-width: 480px) {
    .logoH{
        height: auto;
        width: 100px;
        /* border: dashed 3px red; */
    }

    .header{
        height: 250px;
        /* background-color: var(--azulfuerteclaro); Color anterior */
        background-color: var(--blanco);
        background-position: center center;
        display: flex;
        margin: 0 25px;
        margin-bottom: 15px;
        flex-direction: row;
        justify-content: center;
        /* border: 3px dotted orange; */
        border-bottom: var(--azulfuerteclaro) 15px ridge;
        height: fit-content;

    }

    .nav {
        /* color: var(--blanco);  */
        color: var(--azulfuerteclaro);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        height: 100%;
        width: 100%;
        /* border: 3px dotted green; */
     }

     .nav-link ul {
        /* border: dashed 3px #55f1ff; */
        list-style: none;
        flex-direction: column;
        /* flex-wrap: wrap; */
        display: flex;
        margin-top: 10px;
        padding-left: 0;
        padding-right: 0;
        justify-content: space-around;
        align-items: center;
    }

    .nav-link a {
        /* border: dashed 3px purple; */
        text-decoration: none;
        margin: 5px;
        font-family: 'Merriweather';
        font-size: 20px;
        font-weight: bold;
        color: var(--azulfuerteclaro);
    }


    li a{
        display: block;
        padding: 0px;
        text-decoration: none;

    }

    li a:hover:not(active){
        color:var(--Azulmarino);
    }
}
